<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Analysis</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}">

</head>

<body>

<div class="analysis-container">

    <div class="analysis-card">

        <h1>Student Learning Analysis</h1>

        <p>
            Enter your academic behavior indicators to generate
            AI-powered learning insights and personalized recommendations.
        </p>

        <form action="/analyze" method="POST" class="analysis-form">

            <div class="input-group">
                <label>Study Hours Per Day</label>
                <input type="number" name="study_hours"
                placeholder="Enter study hours" required>
            </div>

            <div class="input-group">
                <label>Sleep Hours</label>
                <input type="number" name="sleep_hours"
                placeholder="Enter sleep hours" required>
            </div>

            <div class="input-group">
                <label>Social Media Hours</label>
                <input type="number" name="social_media"
                placeholder="Enter social media usage" required>
            </div>

            <div class="input-group">
                <label>Attendance Percentage</label>
                <input type="number" name="attendance"
                placeholder="Enter attendance percentage" required>
            </div>

            <button type="submit" class="submit-btn">
                🚀 Analyze Learning DNA
            </button>

        </form>

    </div>

</div>

</body>